body {
    display: grid;
    align-content: center;
    justify-content: space-evenly;
    margin: 50px;
}

h1 {
    text-align: center;
    justify-content: flex-end;
}


#plus, #minus{
    border-radius: 20%;
    height: 60px;
    width: 60px;
    background-color: darkgray;
    color: white;
    font-size: 25px;
}

#plus:hover, #minus:hover {
    background-color: white;
    color: darkgray;
    
}

#input {
    border-radius: 10%;
    height: 50px;
    width: 70px;
    font-size: 25px;
    text-align: center;
}

